{% include 'layout.html' %}

<div class="container d-flex justify-content-center align-items-center" style="height: 50vh;">

    <div class="text-center">
           <h4>Train Model</h4>
    <button onclick="window.location.href='train'" class="btn btn-primary">Train Model</button>

    <div id="response-container" class="mt-4"></div>
    </div>


</div>

<div class="container d-flex justify-content-center align-items-center">

    <div class="text-center">
           <h4>View Logs</h4>
    <button onclick="window.location.href='logs'" class="btn btn-primary">view logs</button>

    <div id="response-container" class="mt-4"></div>
    </div>


</div>